@import "../../styles/mixins";
@import "../../styles/variables";


.landing_container{
    height:calc(100vh - $nav-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width:100%;
    position:relative;
    
    

    .hero_body{
        flex:5;
        width:80%;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color:$secondary;
        
        h1{
            font-size: 60px;
            margin-bottom: 24px;
            transition: all 200ms ease;

        }
        h2{
            font-size:24px;
            font-weight: weight(regular);
        }

        .profileImg{
            background-image: url('../../assets/profile.jpeg');
            background-size: cover;
            background-position: 0 40%;
            border-radius: 50%;
            border:2px solid $secondary;
            // background-color: red;
            height:180px;
            width:180px;
            margin-top:50px;
        }


        @include mobile{
            h1{
                font-size: 36px;
                margin-bottom: 36px;
            }
            h2{
                font-size:18px;
            }
        }
    }

    .hero_footer{
        flex:2;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom:0;
        right:0;

        // background-color: darken($color: $secondary, $amount: 40%);
        align-items: flex-end;
        .footerImg{
            background-image: url('./hacker.png');
            background-size: cover;
            height:300px;
            width:400px;
            
        }
    }



    
        


    // svg path:nth-child(2){
    //     stroke-dasharray: 50px;
    //     stroke-dashoffset: 50px;
    // }
    // svg path:nth-child(3){
    // }
    // svg path:nth-child(4){
    // }
    // svg path:nth-child(5){

    // }
    // svg path:nth-child(6){

    // }
    // svg path:nth-child(7){

    // }
    // svg path:nth-child(8){

    // }
    // svg path:nth-child(9){

    // }
    // svg path:nth-child(10){

    // }













}
