@import "../../styles/mixins";
@import "../../styles/variables";


.descriptionContainer{
    width:100%;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    .descriptionText{
        width:60%;
        padding:150px 0 250px 0;

        // @include desktop{
        //     width:60%;
        // }
        @include tablet{
            width:60%;
        }
        @include mobile{
            width:90%;
        }

        h4{
            font-size:30px;
        }
        p{
            line-height: 1.5;
            font-size:18px;
        }
    }
    
}