@import "../../styles/mixins";
@import "../../styles/variables";

.contactContainer{
    box-sizing: border-box;
    // width:100%;
    padding:40px;
    h1{
        text-align: center;
        margin:10px 0;
        color:$secondary;
        width:100%;
    }
    form{
        display: flex;
        margin:10px 0;
        flex-direction: column;
        padding:0;
        overflow: hidden;
        & div {
            display: flex;
            justify-content: flex-start;

            @include mobile{
                flex-direction: column;
            }
        }
    }
    button{
        color:$primary;
        border-color:$primary;
        width:150px;
        margin:20px auto 0;
        &:hover{
            background-color:$primary;
            color:$secondary;
        }
        @include mobile{
            font-size:18px;
            width:120px;
        }
    }
    @include mobile{
        padding:40px 20px;
        width: 100%;
    }
}
// .contactContainer{
//     box-sizing: border-box;
//     width:100%;
//     padding:40px;

//     form{
//         display: flex;
//         margin:10px 0;
//         flex-direction: column;
//         padding:0;

//         & div {
//             display: flex;
//             justify-content: space-around;
            
//             & div {
//                 flex:1;
//                 display: flex;
//                 flex-direction: column;
//                 margin:10px;
//             }
//             label{
//                 font-size:18px;
//                 margin-bottom: 10px;
//             }
//             input{
//                 height: 36px;
//                 outline: none;
//                 font-size: 18px;
//                 padding-left:10px;
//                 background-color: $white;
//                 border-radius: 8px;
//                 transition: all 100ms ease;
//                 &:focus{
//                     border: 2px solid $secondary;
//                 }
//             }
//         }
//     }
//     button{
//         color:$primary;
//         border-color:$primary;
//         width:150px;
//         margin:20px auto 0;

//         &:hover{
//             background-color:$primary;
//             color:$secondary;
//         }
//     }
// }