@import "../../styles/mixins";
@import "../../styles/variables";


.recentWorkContainer{
    margin-top:360px;
    h2{
        color:$secondary;
        font-size:36px;
        padding:0 10px;
    }
    p{
        color:$white;
        padding:0 10px;
    }

    .gridProjects{
        width:80%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:100px;

        .row{
            display: flex;
            justify-content: center;
            flex-direction: row;
            div{
                max-width: 420px;
                flex:1;
                height:300px;
                margin:10px;
                box-sizing: border-box;

                display: flex;
                align-items: center;
                position: relative;
                border-radius: 1rem;
                overflow: hidden;

                transition: all 500ms ease;
                .projectInfo{
                    position:absolute;
                    height:100%;
                    width:100%;
                    margin:0;
                    box-sizing: border-box;

                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        color:$white;
                        font-size: 18px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    button{
                        font-size:18px;
                    }
                    @include mobile{
                        p {
                            font-size: 12px;
                        }
                        button{
                            font-size:12px;
                        }
                    }
                }
                img{
                    width:100%;
                    height:100%;
                    border-radius: 1rem;
                    transition: all 500ms ease;
                }
            }
            div:hover{
                cursor: pointer;
                background-color: $black;

                img{
                    transform: rotate(10deg) scale(1.25);
                    opacity: 0.1;
                }

                p{
                    display: block;
                }

                .projectInfo{
                    display: flex;
                }
            }
            @include mobile{
                & {
                    flex-direction: column;
                    // width:100%;
                    align-items: center;
                }
            }
        }
        @include tablet{
            & {
                // flex-direction: column;
                width:90%;
                // align-items: center;s
            }
        }
    }


}