@import "../../styles/mixins";
@import "../../styles/variables";


.navbar{
    height:$nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:0 auto;

    .logo{
        font-size: 48px;
        color:$secondary;
        font-weight: weight(extra-bold);
        transition: all 400ms ease-in-out;

        @include mobile() {
            font-size: 42px;
        }
    }

    // @include desktop() {
    //     height:600px;
    // }
    // @include tablet() {
    //     height:400px;
    // }

    // @include mobile() {
    //     height:200px;
    // }

}