@import "../../styles/mixins";
@import "../../styles/variables";


.inputContainer {
    flex:1;
    display: flex;
    flex-direction: column;
    margin:10px;
    position: relative;

    // Input (NOT TEXTAREA)
    & .inputStyle input {
        border:none;
        box-sizing: border-box;
        width:100%;
        height:50px;
        padding-top:20px;
        outline: none;
        padding-left:10px;
        font-size:16px;
    }

    & .inputStyle label{
        position: absolute;
        height:50px;
        width:100%;
        font-weight: weight(bold);
        letter-spacing: 0.8px;
        pointer-events: none;
        border-bottom: 1px solid $primary;
        &::after{
            content: "";
            position: absolute;
            height:100%;
            width:100%;
            border-bottom: 3px solid $secondary;
            left:0;
            bottom: -1px;
            transform: translateX(-110%);
            opacity: 0;
            transition: all 300ms ease;
        }
        & .content_name{
            position:absolute;
            bottom: 5px;
            left:10px;
            transition: all 300ms ease;
        }
    }

    & .inputStyle input:focus + .label_name .content_name, 
    & .inputStyle input:valid + .label_name .content_name{
        transform: translateY(-150%);
        color:$secondary;
    }

    & .inputStyle input:focus + .label_name::after, 
    & .inputStyle input:valid + .label_name::after {
        opacity: 1;
        transform: translateX(0%);
    }   



    //TEXTAREA

    & .textareaStyle textarea {
        box-sizing: border-box;
        margin-top:10px;
        border:none;
        border-bottom: 1px solid black;
        height:50px;
        outline: none;
        width:100%;
        max-width: 100%;
        // padding:30px 10px 10px 10px;
        overflow: hidden;
        resize:none;
        transition: all 300ms ease;
        &:focus, &:valid{
            height:200px;
            border: 3px solid $secondary;
            padding:30px 10px 10px 10px;
        }
    }

    & .textareaStyle label{
        position: absolute;
        height:55px;
        width:100%;
        font-weight: weight(bold);
        pointer-events: none;
        &::after{
            content: "";
            position: absolute;
            height:100%;
            width:100%;
            left:0;
            bottom: -1px;
            transform: translateX(-110%);
            opacity: 0;
            transition: all 300ms ease;
        }
        & .content_name{
            position:absolute;
            bottom: 5px;
            left:0;
            background-color:$white;
            margin-left:5px;
            padding:0 5px;
            transition: all 300ms ease;
        }
    }

    & .textareaStyle textarea:focus + .label_name .content_name, 
    & .textareaStyle textarea:valid + .label_name .content_name{
        transform: translateY(-150%);
        color:$secondary;
    }

    & .textareaStyle textarea:focus + .label_name::after, 
    & .textareaStyle textarea:valid + .label_name::after {
        opacity: 1;
        transform: translateX(0%);
    }   
}